@model List<DonatorModel>

@{
    ViewData["Title"] = "Manage Donors";
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<h1>Manage Donators</h1>

<div class="container-fluid bg-white">
    <div>
        <div class="table-responsive">
            <div class="container-fluid">
                <table class="table table-hover align-middle">
                    <thead>
                    <tr class="donator-table">
                    <th>Name</th>
                    <th>Persona.No.</th>
                    <th>Birth</th>
                    <th>Gender</th>
                    <th>BloodType</th>
                    <th>City</th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var donator in Model)
                        {
                            <tr>
                                <td>@donator.Name @donator.Surname</td>
                                <td>@donator.PersonalNumber</td>
                                <td>@donator.DateOfBirth.ToShortDateString()</td>
                                <td>@donator.Gender</td>
                                <td>@donator.BloodTypeName</td>
                                <td>@donator.CityName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>