@model List<DonatorModel>

@{
    ViewData["Title"] = "Manage Donors";
}

<h1>Manage Donors</h1>

<div class="card container">
    <div class="card-body">
        <h5 class="card-title">List of all donors that have donated blood</h5>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Personal No.</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Blood Type</th>
                    <th scope="col">City</th>
                    <th scope="col">Is Account Locked</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var donor in Model)
                {
                    <tr>
                        <td>@donor.Name</td>
                        <td>@donor.Surname</td>
                        <td>@donor.DateOfBirth.ToShortDateString()</td>
                        <td>@donor.PersonalNumber</td>
                        <td>@donor.Gender</td>
                        <td>@donor.BloodTypeName</td>
                        <td>@donor.CityName</td>
                        <td>@donor.Locked</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>