@model List<BloodType>

<div class="card container">
    <div class="card-body">
        <h5 class="card-title">List of all roles</h5>

        <ul class="list-group list-group-flush container col-6">
            @foreach (var bloodType in Model) {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    @bloodType.BloodTypeName
                    <span class="badge"><a class="btn btn-info" asp-controller="BloodTypes" asp-action="EditBloodType" asp-route-BloodTypeID="@bloodType.BloodTypeId">Edit</a></span>
                </li>
            }
        </ul>
    </div>
</div>


    <div class="modal fade" id="AddBloodType" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div>
                    <div class="modal-header">
                        <h5 class="modal-title">Add new blood type</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <form asp-controller="BloodTypes" asp-action="AddNewBloodType" method="post">
                            <div class="d-flex justify-content-center">
                                <div>
                                    <div class="row mb-3">

                                        <div class="col-sm-12">
                                            <input type="text" placeholder="Blood type name" class="form-control" name="BloodTypeName">
                                        </div>
                                    </div>
                                    <div class="row mb-3">

                                        <div class="col-sm-12">
                                            <input type="submit" class="form-control btn btn-outline-primary" value="submit">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    @foreach (var bloodType in Model) {
        var idName = "Edit" + bloodType.BloodTypeName.Replace('+', 'a');
        <div class="modal fade" id="@idName" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add new blood type</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Horizontal Form -->
                        <form asp-controller="BloodTypes" asp-action="EditBloodType" method="post">
                            <div class="d-flex justify-content-center">
                                <div>
                                    <div class="row mb-3">
                                        <input value="@bloodType.BloodTypeId" name="BloodTypeID" style="display: none" />
                                        <div class="col-sm-12">
                                            <input type="text" placeholder="@bloodType.BloodTypeName" class="form-control" name="BloodTypeName">
                                        </div>
                                    </div>
                                    <div class="row mb-3">

                                        <div class="col-sm-12">
                                            <input type="submit" class="form-control btn btn-primary mb-3" value="Save Changes">
                                        </div>
                                    </div>
                                    </div>
                                </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    }
