@inject UserManager<User> UserManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>BloodBank</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="~/Images/logo.png" rel="icon">
    <link href="~/SuperAdminTemplate/NiceAdmin/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link href="~/SuperAdminTemplate/NiceAdmin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/SuperAdminTemplate/NiceAdmin/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/SuperAdminTemplate/NiceAdmin/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/SuperAdminTemplate/NiceAdmin/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/SuperAdminTemplate/NiceAdmin/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/SuperAdminTemplate/NiceAdmin/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/SuperAdminTemplate/NiceAdmin/assets/vendor/simple-datatables/style.css" rel="stylesheet">
    <link href="~/SuperAdminTemplate/NiceAdmin/assets/css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>

<body>
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a asp-area="SuperAdmin" asp-controller="AdminHome" asp-action="Index" class="d-flex align-items-center">
                <img src="~/Images/logo.png" alt="" class="img-fluid me-2 me-md-5" style="height: 50px">

            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        <span class="badge bg-primary badge-number">4</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        <li class="dropdown-header">
                            You have 4 new notifications
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="notification-item">
                            <i class="bi bi-exclamation-circle text-warning"></i>
                            <div>
                                <h4>Lorem Ipsum</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>30 min. ago</p>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="notification-item">
                            <i class="bi bi-x-circle text-danger"></i>
                            <div>
                                <h4>Atque rerum nesciunt</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>1 hr. ago</p>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="notification-item">
                            <i class="bi bi-check-circle text-success"></i>
                            <div>
                                <h4>Sit rerum fuga</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>2 hrs. ago</p>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="notification-item">
                            <i class="bi bi-info-circle text-primary"></i>
                            <div>
                                <h4>Dicta reprehenderit</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-footer">
                            <a href="#">Show all notifications</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown pe-3">

                    @{
                        var user = UserManager.GetUserAsync(User);
                        string initialsUrl = "https://ui-avatars.com/api/?name=" + @user.Result.Name + "+" + @user.Result.Surname + "& background=0D8ABC&color=fff";
                    }
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="@initialsUrl" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">@user.Result.Name @user.Result.Surname</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>@user.Result.Name @user.Result.Surname</h6>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-area="SuperAdmin" asp-controller="Profile" asp-action="Index">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center">
                                <i class="bi bi-box-arrow-right"></i>
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                </form>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="SuperAdmin" asp-controller="AdminHome" asp-action="Index">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-heading">Control</li>
            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-house-door"></i>
                    <span>Home Page</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" asp-controller="SuperAdminRegister" asp-action="CreateSuperAdmin">
                    <i class="bi bi-card-list"></i>
                    <span>Register new user</span>
                </a>
            </li>
            <li class="nav-item"> <hr class="nav-link" /></li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#hospitals-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i><span>Hospitals</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="hospitals-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-area="SuperAdmin" asp-controller="Hospital" asp-action="ManageHospitals">
                            <i class="bi bi-circle"></i><span>Manage Hospitals</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="SuperAdmin" asp-controller="Hospital" asp-action="CreateHospital">
                            <i class="bi bi-circle"></i><span>Add Hospital</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#question-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i><span>Questionnaire</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="question-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-area="SuperAdmin" asp-controller="Questionnaire" asp-action="CreateQuestionnaire">
                            <i class="bi bi-circle"></i><span>Create Questionnaire</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="SuperAdmin" asp-controller="Questionnaire" asp-action="ManageQuestions">
                            <i class="bi bi-circle"></i><span>Manage Questions</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="SuperAdmin" asp-controller="Questionnaire" asp-action="CreateQuestion">
                            <i class="bi bi-circle"></i><span>Create Questions</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#donors-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i><span>Users</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="donors-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-area="SuperAdmin" asp-action="Donors" asp-controller="Donors">
                            <i class="bi bi-circle"></i><span>Manage users</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#roles-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i><span>Roles</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="roles-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-area="SuperAdmin" asp-action="AllRoles" asp-controller="Roles" asp-area="SuperAdmin">
                            <i class="bi bi-circle"></i><span>Manage Roles</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="SuperAdmin" asp-action="CreateRole" asp-controller="Roles" asp-area="SuperAdmin">
                            <i class="bi bi-circle"></i><span>Add Role</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#cities-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i><span>Cities</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="cities-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-area="SuperAdmin" asp-controller="Cities" asp-action="Cities">
                            <i class="bi bi-circle"></i><span>Manage Cities</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="SuperAdmin" asp-controller="Cities" asp-action="AddNewCity">
                            <i class="bi bi-circle"></i><span>Add City</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#issues-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i><span>Issues</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="issues-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-area="" asp-controller="Issue" asp-action="Index">
                            <i class="bi bi-circle"></i><span>Manage issues</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>

    <main id="main" class="main">
        @RenderBody()
    </main>

    <script src="~/SuperAdminTemplate/NiceAdmin/assets/js/main.js"></script>
    <script src="~/SuperAdminTemplate/NiceAdmin/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/SuperAdminTemplate/NiceAdmin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/SuperAdminTemplate/NiceAdmin/assets/vendor/chart.js/chart.min.js"></script>
    <script src="~/SuperAdminTemplate/NiceAdmin/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/SuperAdminTemplate/NiceAdmin/assets/vendor/quill/quill.min.js"></script>
    <script src="~/SuperAdminTemplate/NiceAdmin/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/SuperAdminTemplate/NiceAdmin/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/SuperAdminTemplate/NiceAdmin/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/js/NameValidate.js"></script>
    @await Component.InvokeAsync("Notyf")
</body>
</html>