@model PermissionViewModel

<div class="container col-12 col-md-10 bg-white">
    <div class="card-body">
        <h5 class="card-title">Create Role</h5>
        <form class="row g-3" asp-controller="Roles" asp-action="CreateRole" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="container col-12">
                <div class="mb-3">
                    <label asp-for="RoleName" class="form-label"></label>
                    <input asp-for="RoleName" class="form-control" id="inputName" required>
                </div>
                <div class="col-12 justify-content-center">
                    <h6 class="card-title">Set permissions</h6>
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Type
                                </th>
                                <th scope="col">
                                    Permission
                                </th>
                                <th scope="col">
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.RoleClaims.Count(); i++)
                            {
                                <tr>
                                    <td>
                                        <input asp-for="@Model.RoleClaims[i].Type" type="hidden" />
                                        @Model.RoleClaims[i].Type
                                    </td>
                                    <td>
                                        <input asp-for="@Model.RoleClaims[i].Value" type="hidden" />
                                        @Model.RoleClaims[i].Value
                                    </td>
                                    <td>
                                        <div class="form-check m-1">
                                            <input asp-for="@Model.RoleClaims[i].Selected" class="form-check-input" />
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="text-start mt-3">
                    <button type="submit" class="btn btn-info">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>