@model List<DonationRequests>
@{
    ViewData["Title"] = "Donation requests";
}

<div class="card container d-flex">
    <div class="card-body justify-content-center align-items-center">
        <h5 class="card-title">Donation requests</h5>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Hospital</th>
                    <th scope="col">Post</th>
                    <th scope="col">Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var request in Model)
                {
                    <tr>
                        <td>@request.Donor.User.Name</td>
                        <td>@request.Donor.User.Surname</td>
                        <td>@request.DonationPost.Hospital.HospitalName</td>
                        <td>@request.DonationPost.Description</td>
                        <td>@request.RequestDate</td>
                        <td style="margin: 0; padding: 0;">

                            @{
                                var idName = "approveRequest" + request.Id + "a";
                                var approveButton = "#approveRequest" + request.Id + "a";
                            }
                            <a type="button" class="bi-check-square-fill" style="font-size: 30px; color: green;" data-bs-toggle="modal" data-bs-target="#verticalycentered">
                            </a>@*

                            <a asp-action="ApproveRequest" asp-controller="Donations" asp-route-requestId="@request.Id" type="button" class="bi-check-square-fill" style="font-size: 30px; color: green;">
                            </a>*@
                            <a asp-action="RejectRequest" asp-controller="Donations" asp-route-requestId="@request.Id" type="button" class="bi-x-square-fill" style="font-size: 30px; color: red;">
                            </a>

                            <div class="modal fade" id="verticalycentered" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Lockout User</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="row g-3" asp-controller="Donations" asp-action="ApproveRequest" method="post">
                                                <div class="container col-8">
                                                    <div class="mb-3 mt-2">
                                                        <label style="margin-top:1%;" class="form-label">Please enter the amount of blood donated!</label>
                                                        <input type="hidden" name="requestId" value="@request.Id" />
                                                        <input type="text" name="amount" placeholder="Blood amount" class="form-control" />
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-success">Save</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>