@model List<DonationPost>
<style>
    .dropbtn {
        background-color: #7790b4;
        color: white;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #7790b4;
        border-radius: 5px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .dropdown:hover .dropdown-content {
        display: block;
        border-radius: 5px;
    }
</style>
<h1>Manage Posts</h1>
<div class="dropdown">
    <button class="dropbtn">@ViewBag.FilterBy</button>
    <div class="dropdown-content">
        <a asp-controller="Posts" asp-action="ManagePosts" asp-route-filterBy="Normal">Normal</a>
        <a asp-controller="Posts" asp-action="ManagePosts" asp-route-filterBy="Date">Date</a>
        <a asp-controller="Posts" asp-action="ManagePosts" asp-route-filterBy="Active">Active</a>
        <a asp-controller="Posts" asp-action="ManagePosts" asp-route-filterBy="InActive">InActive</a>

    </div>
</div>

<div class="container-fluid w-100 p-0 d-flex justify-content-center">
    <div class="container ms-2 me-2 w-75 mt-5 mb-5">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 gy-4">
            @foreach (var getPost in Model)
            {
                <div class="col">
                    <div class="card" style="min-height: 100%;">
                        <div class="card-body me-3 ms-3 mt-2">
                            <h5 class="card-title">@getPost.Hospital.HospitalName</h5>
                            <p class="card-text"><strong>Description: </strong>@getPost.Description</p>
                            <p class="card-text"><strong>BloodType: </strong> @getPost.BloodType.BloodTypeName</p>
                            <p class="card-text"><strong>Amount: </strong> @getPost.AmountRequested ml</p>
                            <p class="card-text"><strong>Date: </strong> @getPost.DateRequired</p>
                            @if (((int)getPost.PostStatus) == 1)
                            {
                                <p class="card-text text-success"><strong>Statusi: </strong> @getPost.PostStatus</p>
                            }
                            else
                            {
                                <p class="card-text text-danger"><strong>Statusi: </strong>@getPost.PostStatus</p>
                            }
                            <div class="d-flex justify-content-center">
                                <div class="pe-2">
                                    <a class="btn btn-outline-info" asp-controller="Posts" asp-action="EditPost" asp-route-donationPostId="@getPost.DonationPostId">Edit</a>
                                </div>
                                <div class="ps-2">
                                    <a class="btn btn-outline-danger" asp-controller="Posts" asp-action="DeletePost" asp-route-donationPostId="@getPost.DonationPostId">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
