@model List<DonorModel>

@{
    ViewData["Title"] = "Donors";
}
<header>
    <style>

        .dropbtn {
            background-color: #7790b4;
            color: white;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #7790b4;
            border-radius: 5px;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        .dropdown:hover .dropdown-content {
            display: block;
            border-radius: 5px;
        }

        .dropdown:hover {
            background-color: #3e8e41;
        }

    </style>
</header>

<div class="dropdown">
    <button class="dropbtn">@ViewBag.FilterBy</button>
    <div class="dropdown-content">
        <a asp-controller="Donors" asp-action="Donors" asp-all-pageNumber="1" asp-route-filterBy="A-Z">A-Z</a>
        <a asp-controller="Donors" asp-action="Donors" asp-all-pageNumber="1" asp-route-filterBy="Z-A">Z-A</a>
        <a asp-controller="Donors" asp-action="Donors" asp-all-pageNumber="1" asp-route-filterBy="Locked">Locked</a>
    </div>
</div>

<div class="d-flex justify-content-end">

    <div class="search-bar row g-3">
        <form class="search-form d-flex align-items-center mb-2" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword" class="form-control">
            <button type="submit" title="Search" class="btn btn-outline-info"><i class="bi bi-search"></i></button>
        </form>
    </div>

</div>


<div class="card container">
    <div class="card-body">
        <h5 class="card-title">List of all donors</h5>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Personal No.</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Blood Type</th>
                    <th scope="col">City</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var donor in Model)
                {
                    <tr>
                        <td>@donor.Name</td>
                        <td>@donor.Surname</td>
                        <td>@donor.DateOfBirth.ToShortDateString()</td>
                        <td>@donor.PersonalNumber</td>
                        <td>@donor.Gender</td>
                        <td>@donor.BloodTypeName</td>
                        <td>@donor.CityName</td>
                        <td>
                            @{
                                var idName = "lockUser" + donor.PersonalNumber + "a";
                                var idUnlockName = "unlockUser" + donor.PersonalNumber + "a";
                                var lockButton = "#lockUser" + donor.PersonalNumber + "a";
                                var unlockButton = "#unlockUser" + donor.PersonalNumber + "a";
                            }
                            @if (!donor.Locked)
                            {
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@lockButton">
                                    Lockout
                                </button>

                                <div class="modal fade" id="@idName" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Lockout User</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">

                                                <form class="row g-3" asp-controller="Donors" asp-action="LockoutDonor" method="post">
                                                    <div class="container col-8">
                                                        <div class="mb-3 mt-2">
                                                            <label style="margin-top:1%;" class="form-label">Are you sure you want to lockout this User? </label>
                                                            <input type="hidden" name="donorId" value="@donor.DonorId" />
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                            <button type="submit" class="btn btn-danger">Yes</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="@unlockButton">
                                    Unlock
                                </button>

                                <div class="modal fade" id="@idUnlockName" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Unlock User</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">

                                                <form class="row g-3" asp-controller="Donors" asp-action="UnlockDonor" method="post">
                                                    <div class="container col-8">
                                                        <div class="mb-3 mt-2">
                                                            <label style="margin-top:1%;" class="form-label">Are you sure you want to unlock this User? </label>
                                                            <input type="hidden" name="donorId" value="@donor.DonorId"/>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                            <button type="submit" class="btn btn-danger">Yes</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item">
            <a class="page-link" asp-controller="Donors" asp-action="Donors" asp-route-pageNumber="1" asp-route-filterBy="@ViewBag.FilterBy">First Page</a>
        </li>

        @if (ViewBag.pageNumber < 6)
        {
            for (int i = 1; i <= 6; i++)
            {
                if (i == ViewBag.pageNumber)
                {
                    <li class="page-item active">
                        <a class="page-link" asp-controller="Donors"
               asp-action="Donors" asp-route-pageNumber="@i" asp-route-filterBy="@ViewBag.FilterBy">@i</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Donors" asp-action="Donors"
               asp-route-pageNumber="@i" asp-route-filterBy="@ViewBag.FilterBy">@i</a>
                    </li>
                }
            }
        }
        else
        {
            for (int i = ViewBag.pageNumber - 3, j = 1; j <= 6; i++, j++)
            {
                if
                (i == ViewBag.pageNumber)
                {
                    <li class="page-item active">
                        <a class="page-link"
               asp-controller="Donors" asp-action="Donors" asp-route-pageNumber="@i" asp-route-filterBy="@ViewBag.FilterBy">@i</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Donors"
               asp-action="Donors" asp-route-pageNumber="@i" asp-route-filterBy="@ViewBag.FilterBy">@i</a>
                    </li>
                }
            }
        }
    </ul>
</nav>