@{
    var bloodTypeData = @ViewBag.BloodTypeData;
    var userRolesData = @ViewBag.UserRolesData;
}
<h1>Welcome to Admin</h1>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">User Roles</h5>

                <div id="donutChart"></div>
                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      new ApexCharts(document.querySelector("#donutChart"), {
                        series: [@userRolesData["Donor"], @userRolesData["SuperAdmin"], @userRolesData["HospitalAdmin"]],
                        chart: {
                          height: 350,
                          type: 'donut'
                        },
                        labels: ['Donors', 'Super admins', 'Hospital admins'],
                      }).render();
                    });
                </script>

            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Donors Blood Types</h5>

                <div id="barChart"></div>
                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      new ApexCharts(document.querySelector("#barChart"), {
                        series: [{
                            name:"Number of donors",
                          data: [@bloodTypeData["A+"], @bloodTypeData["A-"], @bloodTypeData["B+"], @bloodTypeData["B-"], @bloodTypeData["AB+"], @bloodTypeData["AB-"], @bloodTypeData["O+"], @bloodTypeData["O-"]]
                        }],
                        chart: {
                          type: 'bar',
                          height: 350,
                          toolbar: {
                        show: false
                          }
                        },
                        plotOptions: {
                          bar: {
                            borderRadius: 4,
                            horizontal: true,
                          }
                        },
                        dataLabels: {
                          enabled: false
                        },
                        xaxis: {
                          categories: ['A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+','O-'],
                        }
                      }).render();
                    });
                </script>

            </div>
        </div>
    </div>
</div>