<h1>Welcome to Admin</h1>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Donut Chart</h5>

                <!-- Donut Chart -->
                <div id="donutChart"></div>

                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      new ApexCharts(document.querySelector("#donutChart"), {
                        series: [@ViewBag.Donor, @ViewBag.SuperAdmin, @ViewBag.HospitalAdmin],
                        chart: {
                          height: 350,
                          type: 'donut'
                        },
                        labels: ['Donors', 'Super admins', 'Hospital admins'],
                      }).render();
                    });
                </script>
                <!-- End Donut Chart -->

            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bar Chart</h5>

                <!-- Bar Chart -->
                <div id="barChart"></div>

                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      new ApexCharts(document.querySelector("#barChart"), {
                        series: [{
                          data: [@ViewBag.aPositive, @ViewBag.aNegative, @ViewBag.bPositive, @ViewBag.bNegative, @ViewBag.aBPositive, @ViewBag.aBNegative, @ViewBag.oPositive, @ViewBag.oNegative]
                        }],
                        chart: {
                          type: 'bar',
                          height: 350,
                          toolbar: {
                        show: false
                          }
                        },

                        plotOptions: {
                          bar: {
                            borderRadius: 4,
                            horizontal: true,
                          }
                        },
                        dataLabels: {
                          enabled: false
                        },
                        xaxis: {
                          categories: ['A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+','O-'],
                        }
                      }).render();
                    });
                </script>
                <!-- End Bar Chart -->

            </div>
        </div>
    </div>
</div>